@use '../utils/' as *;

.about {
  padding: 2rem 0 !important;
  width: 90%;
  @include flex-center;
  flex-direction: column;
  row-gap: 2rem;

  @include sm {
    width: 80%;
  }

  @include lg {
    padding: 4rem 0 !important;
    flex-direction: row;
    width: 70%;
    gap: 0;
    display: flex;
  }

  &__content {
    @include flex-center;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
  }

  &__image {
    display: none;
    @include lg {
      display: block;
      width: 50%;
      animation: fly 5s linear infinite reverse;
    }
  }

  &__title {
    @include title-text;
    text-align: left;
    width: 100%;

    @include lg {
      text-align: right;
      width: 80%;
    }
  }

  &__paragraph {
    @include pgh-text;

    @include lg {
      width: 80%;
    }
  }
}
