@use '../utils/' as *;

.cards-container {
  @include flex-center;
  flex-direction: column;
  gap: 15px;
  // width: 90%;

  @include lg {
    margin-top: 5rem !important;
    flex-direction: row;

    width: 100%;
    grid-area: card;
  }
}

.card {
  @include flex-center;
  width: 100%;
  background-color: $light-grey;
  // background-color: $dark-blue;
  box-shadow: $default-shadow;
  gap: 20px;
  padding: 2rem !important;
  border: none;
  border-radius: 0.5rem;

  // &:hover {
  //   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  //   transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
  //     transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  // }

  &__text {
    color: $dark-blue;
    font-weight: 700;
    width: 100%;
  }

  &__icon {
    color: $dark-blue;
    margin-right: 2rem !important;
  }

  @include lg {
    height: 130px;
  }
}

.card {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 60px;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    animation: rotate 5s linear infinite;
  }

  &:nth-child(2)::before {
    animation: rotate 5s linear infinite reverse;
  }

  &::after {
    content: '';
    border-radius: 0.5rem;
    position: absolute;
    inset: 2px;
    background-color: $light-grey;
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  &__icon {
    position: relative;
    z-index: 10;
  }
}
