@use '../utils/' as *;

.course {
  padding: 1rem 0 !important;
  width: 90%;
  @include flex-center;
  flex-direction: column;
  gap: 2rem;

  @include sm {
    width: 80%;
  }

  @include lg {
    padding: 4rem 0 !important;
    flex-direction: row;
    width: 70%;
    row-gap: 2rem;
  }

  &__content {
    @include flex-center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2rem;
    @include lg {
      padding: 0 !important;
      max-width: 50%;
    }
  }

  &__title {
    text-align: left;
    @include title-text;

    @include lg {
      width: 80%;
    }
  }

  &__paragraph {
    @include pgh-text;

    @include lg {
      width: 80%;
    }
  }

  &__button {
    @include button;
  }

  iframe {
    box-shadow: $default-shadow;
    border-radius: 1rem;
    // @include lg {
    //   order: 2;
    // }
  }
}
