@use '../utils/' as *;
@import '~bootstrap/dist/css/bootstrap.min.css';

header {
  max-width: 100vw;
  background-color: $dark-blue;
  box-shadow: $default-shadow;
  overflow: hidden;
  @include flex-center;
}

.logo {
  width: 70px;
  animation: logoTransition 3s;
  animation-fill-mode: forwards;
}

.navbar {
  @include flex-center;
  @include lg {
    width: 80%;
  }
}

.container {
  width: 80%;
  @include lg {
    width: 70%;
  }
}
.navbar-collapse {
  @include lg {
    flex-grow: 0;
  }
}

.navbar-toggler {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
  }
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('../../assets/menu-icon.png') !important;
}

.navbar-nav {
  text-align: right;
}

.nav-link {
  animation: navTransition;
  transform: translateX(-100px);
  animation-fill-mode: forwards;

  @include lg {
    transform: translateX(200px);
  }
}

.nav-link:nth-of-type(1) {
  animation-duration: 0.3s;
}

.nav-link:nth-of-type(2) {
  animation-duration: 0.6s;
}

.nav-link:nth-of-type(3) {
  animation-duration: 0.9s;
}

.nav-link:nth-of-type(4) {
  animation-duration: 1.2s;
}

.nav-link:nth-of-type(5) {
  animation-duration: 1.5s;
}

.nav-link:nth-of-type(6) {
  animation-duration: 1.8s;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 0.4rem 0.9rem;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.navbar {
  width: 100% !important;
  margin: 0 auto !important;
}

a.nav-link {
  padding: 0.6rem 0 !important;
  @include lg {
    border-bottom: 3px solid transparent;
    padding: 1rem 0 !important;
    width: 80px !important;
    text-align: center;
  }
}

a.nav-link.active {
  @include lg {
    color: white !important;
    font-weight: 700 !important;
    border-bottom: 3px solid $cian-blue;
  }
}

a.nav-link:hover {
  color: white !important;
  font-weight: 700 !important;
  @include lg {
    transition-duration: 0.5s;
    border-bottom: 3px solid $cian-blue;
  }
}
