@use '../utils/' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 4rem 0 !important;
}

.container {
  @include lg {
    display: grid;
    grid-template:
      'container image' 60%
      'card card' 40%
      / 2fr 1fr;

    position: relative;

    text-align: left;
    justify-content: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 !important;
    gap: 2rem;

    @include lg {
      grid-area: container;
      padding: 4rem 0 !important;
    }
    &-title {
      @include title-text;
    }

    &-paragraph {
      color: #fff;
      letter-spacing: 0.7px;

      @include lg {
        max-width: 600px;
      }
    }
  }

  &__image {
    display: none;
    min-width: 400px;
    right: -100px;
    top: 50px;
    z-index: 2;

    @include lg {
      top: 1px;
      display: block;
      position: absolute;
      grid-area: image;
      width: 100%;
      animation: fly 5s linear infinite;
    }
  }
}
