@use '../utils/' as *;

.home {
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.home__container {
  padding: 1rem 0 !important;
  width: 90%;
  @include sm {
    width: 80%;
  }
  @include lg {
    padding: 4rem 0 !important;
    width: 70%;
    display: grid;
    grid-template:
      'container image' 60%
      'card card' 40%
      / 2fr 1fr;

    position: relative;

    text-align: left;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 !important;
    gap: 2rem;

    @include lg {
      grid-area: container;
      padding: 4rem 0 !important;
    }
  }
}

.home {
  &__title {
    @include title-text;
  }

  &__paragraph {
    color: #fff;
    letter-spacing: 0.7px;
    margin-bottom: 2rem !important;

    @include lg {
      max-width: 600px;
    }
  }

  &__image {
    display: none;
    min-width: 400px;
    right: -100px;
    z-index: 99;

    @include lg {
      top: -70px;
      display: block;
      position: absolute;
      width: 100%;
      grid-area: image;
      animation: fly 5s linear infinite;
    }
  }
}
