@use '../utils/' as *;

footer {
  width: 100%;
  background-color: $dark-blue;
  padding: 1rem 0 !important;

  @include flex-center;
  flex-direction: column;

  @include lg {
    // padding: 1rem 0 !important;
  }
}

.copyright {
  height: auto;
  width: 90%;
  padding: 1rem 0 !important;
  border-top: 1px solid rgba(47, 235, 235, 0.2);
  overflow: hidden;

  &__text {
    color: #fff;
    font-size: 0.5rem;
    letter-spacing: 0.5px;
    text-align: center;

    @include sm {
      font-size: 0.6rem;
    }
    @include lg {
      font-size: 0.8rem;
    }

    a {
      font-size: 0.6rem;
      color: #fff;
      font-weight: 700;

      @include sm {
        font-size: 0.7rem;
      }
      @include lg {
        font-size: 0.9rem;
      }
    }

    a:hover {
      color: $cian-blue;
    }
  }

  @include lg {
    width: 90%;
  }
}

.social {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 1rem !important;
  overflow: hidden;

  &__icon {
    color: white;
    transition: color 0.3s;

    animation: iconTransition;
    transform: translateY(150px);
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }

  &__icon:hover {
    color: $cian-blue;
  }
}
