@use './variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin title-text {
  text-align: left;
  font-family: $font-pgh;
  // color: rgb(0, 31, 126);
  color: $light-grey;
  // color: #fff;
  font-size: 2.5rem;

  font-weight: $weight-bold;
  span {
    font-size: 1.5rem;
  }
}

@mixin pgh-text {
  color: #fff;
  text-align: justify;

  span {
    display: block;
    margin: 2rem 0 !important;
  }
}

@mixin button {
  text-decoration: none;
  padding: 1rem 2rem !important;
  color: #fff;

  background-image: linear-gradient(315deg, #09c6f9 0%, #045de9 74%);
  // background-image: linear-gradient(315deg, $dark-blue 0%, $default-blue 74%);
  border-radius: 0.6rem;

  letter-spacing: 1.3px;
  // box-shadow: $default-shadow;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);

  &:hover {
    letter-spacing: 1.1px;
    color: #fff;
    font-weight: 700;
  }
}
