$default-blue: rgba(42, 85, 217, 1);
$dark-blue: rgba(29, 60, 153, 1);
$cian-blue: rgba(47, 235, 235, 1);
$light-grey: rgba(245, 249, 252, 1);
$font-title: 'Antonio', sans-serif;
$font-pgh: 'Spartan', sans-serif;
$weight-bold: 700;
$weight-regular: 400;
$default-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
