//modules
@use './utils' as *;
@use './components' as *;

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: $font-pgh;
}

body {
  // background-color: #0beef9;
  // background-image: linear-gradient(315deg, $cian-blue 0%, $default-blue 74%);
  background-color: #0beef9;
  background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
}

section {
  @include flex-center;
}
